---
interface Props {
    hoverable?: boolean
}

const { hoverable = false } = Astro.props
---

<a
    href="mailto:john@arcanegrain.dev"
    target="_blank"
    class:list={[
        '-ml-1 flex items-center justify-center leading-[0] no-underline',
        hoverable
            ? 'text-text-tertiary hover:text-accent-primary'
            : 'text-text-secondary',
    ]}
>
    <span class="sr-only">Email me at john@arcanegrain.dev</span>
    <svg
        height="36"
        width="36"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        preserveAspectRatio="xMidYMid meet"
        class="block"
        aria-hidden="true"
    >
        <path
            d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"
        ></path>
    </svg>
</a>
