---
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts'
import Layout from '@/layouts/Layout.astro'
---

<!doctype html>
<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <h1 class="text-3xl font-bold">Hi, I'm John!</h1>
    <p>Coming Soon!</p>
</Layout>
