---
import Bluesky from './Social/Bluesky.astro'
import GitHub from './Social/GitHub.astro'
const today = new Date()
---

<footer>
    &copy; {today.getFullYear()} John Riccardi. Made with ❤️ in Madison, WI.
    <div class="social-links">
        <Bluesky hoverable />
        <GitHub hoverable />
    </div>
</footer>
<style>
    footer {
        padding: 2em 1em 2em 1em;
        background: linear-gradient(var(--gray-gradient)) no-repeat;
        color: rgb(var(--gray));
        text-align: center;
        font-size: 0.8em;
    }
    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;
    }
    .social-links a {
        text-decoration: none;
        color: rgb(var(--gray));
    }
    .social-links a:hover {
        color: rgb(var(--gray-dark));
    }
</style>
