---
import Bluesky from '@/components/Social/Bluesky.astro'
import GitHub from '@/components/Social/GitHub.astro'
import LinkedIn from '@/components/Social/LinkedIn.astro'
import Email from '@/components/Social/Email.astro'
const today = new Date()
---

<footer
    class="bg-bg-secondary border-border-default text-text-secondary border-t px-4 py-8 text-center text-sm"
>
    &copy; {today.getFullYear()} John Riccardi. Made with ❤️ in Madison, WI.
    <div class="social-links mt-4 flex items-center justify-center gap-4">
        <LinkedIn hoverable />
        <Bluesky hoverable />
        <GitHub hoverable />
        <Email hoverable />
    </div>
    <a rel="me" href="https://techhub.social/@riccjohn" class="hidden"
        >Mastodon</a
    >
</footer>
