---
import Bluesky from '@/components/Social/Bluesky.astro'
import GitHub from '@/components/Social/GitHub.astro'
const today = new Date()
---

<footer
    class="bg-gradient-to-b from-gray-100 to-white px-4 py-8 text-center text-sm text-gray-600"
>
    &copy; {today.getFullYear()} John Riccardi. Made with ❤️ in Madison, WI.
    <div class="mt-4 flex justify-center gap-4">
        <Bluesky hoverable />
        <GitHub hoverable />
    </div>
</footer>
