---
import HeaderLink from '@/components/HeaderLink.astro'
import { SITE_TITLE } from '@/consts'
import Bluesky from '@/components/Social/Bluesky.astro'
import GitHub from '@/components/Social/GitHub.astro'
import LinkedIn from '@/components/Social/LinkedIn.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'
---

<header class="bg-bg-secondary border-border-default m-0 border-b px-4">
    <nav class="flex items-center justify-between">
        <a
            class="text-text-secondary hover:text-text-primary border-b-4 border-transparent px-2 py-4 font-bold no-underline"
            href="/">{SITE_TITLE}</a
        >
        <div class="internal-links flex items-center">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/downloads">Downloads</HeaderLink>
        </div>
        <div class="social-links grid grid-flow-col gap-4 max-md:hidden">
            <LinkedIn />
            <Bluesky />
            <GitHub />
        </div>
        <ThemeToggle />
    </nav>
</header>
