---
import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import '@/styles/global.css'
import { THEME_INIT_SCRIPT } from '@/utils/theme'

interface Props {
    title: string
    description: string
}
const { title, description } = Astro.props
---

<html lang="en">
    <head>
        <script is:inline set:html={THEME_INIT_SCRIPT} />
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <Header />
        <main
            class="prose-width flex h-full flex-grow flex-col px-4 py-12 max-md:p-4"
        >
            <slot />
        </main>
        <Footer />
    </body>
</html>
